h1 {
    font-family: 'Prata';
    font-size: 48px;
    font-weight: 400;
    line-height: 130%;
    color:#5D4A19;
    border-bottom: 5px;
    margin-bottom:30px;
}

h2 {
    font-family: 'Prata';
    color:#5D4A19;
    font-size:30px;
    text-align:left;
    margin:20px;
    margin-bottom: 0px;
    font-weight:300;
}

h3{
    font-size:36px;
    color:#093D11;
    font-family:'Questrial',sans-serif;
    font-weight:400;
}

.bodytext{
font-family: 'Gloock', serif;
font-size:25px;
font-weight:400px;
color:#5D4A19;
}

.width-33 {
    width: 33%;
}

.container {
    width: 80%;
}



header{
    background-color:#81B88A;
    height: 130px;
   
}



.logo {

    font-family: 'Prata', script;
    text-decoration: none;
    font-size: 70px;
    color: #FEFFF8;}

    header nav menu button {
        background-color: transparent;
        border: none;
        color: #FEFFF8;
        font-size: 30px;
        font-family: "Questrial", sans-serif;
    }

    header nav menu menu li a {
        background-color: transparent;
        border: none;
        color: #FEFFF8;
        font-size: 25px;
        font-family: "Questrial", sans-serif;
        text-decoration: none;
    }

.menu{
    display:inline-block;
    
}




header nav{
    display:flex;
    margin:auto;
    width:90%;
    
}

header nav menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    width: 70%;
    margin-top:50px;
}

nav div{
    margin-top:20px;
}

header nav li {
    list-style: none;
}

header nav menu button+menu {
    position: absolute;
    z-index: 1;
    background-color:#81B88A;
    padding: 25px;
    border-radius: 5px;
    display: none;
    width: fit-content;
}

header nav menu li:hover>menu {
    display: block;

}


header nav menu li:hover button {
    color: #5D4A19;
}

header nav menu li menu:hover button {
    color: #5D4A19;
}

.FAQ:hover {
    color: #5D4A19;
}

.FAQ{
    color: #FEFFF8;
    font-size: 30px;
    font-family: "Questrial", sans-serif;
    text-decoration:none;}

header nav menu li button:after {
    display: inline-block;
    content: url();}


body{
    background-color:#FEFFF8;
}

main{
    margin: 0px 120px 0px 120px;
    display:block;
}

#site-search{
    margin:8px;
}

main h1{
    text-align:center;
}

.guide{
    margin:10px;
   
   
   

    
}

#guide{
    background-color: #81B88A;
    color:#FEFFF8;
    font-size:30px;
    padding:10px;
    width:55%;
}






.footer{
    background-color: #81B88A;
    margin-top:100px;
    
}

footer nav li{
    list-style: none;
    margin-bottom:10px;
}

footer nav>menu {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: top;
    
}

footer nav>menu li menu {
    padding: 0px;
}

li{
    font-size:25px;

}

a{
    text-decoration: none;
    color:#FEFFF8;
    font-family: 'Questrial', sans-serif;

}

